{% extends 'pedido/base.html' %}

{% load static %}
{% block content %}
    <main>
        <section id="banner">
            <img src="{% static 'pedido/img/banner.png' %}">
            <div class="contenedor">
                <h1>
			        Comienza tu dia <br>
			        con un buen desayuno!
			    </h1>
            </div>
        </section>

    <form action="." method="POST">
        <h2>Registro de Usuario</h2>
        <h3>¿Olvidaste tu contraseña? Recupérala <a href='http://scrumreserva.pythonanywhere.com/reset-password/'>aqui</a></h3>
        <br>
        <h4>Datos de la Cuenta</h4>
        <div id="cajagrande">
            <div class="caja">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button>Registrar Cuenta</button>
            <h3>¿Olvidaste tu contraseña? Recupérala <a href='http://scrumreserva.pythonanywhere.com/reset-password/'>aqui</a></h3>
            <br>
            </div>
        </div>
    </form>

    </main>
{% endblock %}